
/* sudo class of   */
body::before{
    display: block;
    content: '';
    height: 60px;
}

/* modification style sheet */

/* modifcatino of news input groud */
@media(min-width:768px){
    .news-input{
        width: 50%;
    }
  

}

